@font-face {
  font-family: "Technology";
  src: url('technology/Technology.ttf');
}

body {
  text-align: center;
  font-weight: bold;
  padding: 50px;
  font-size: 30px;
  width: 600px;
  margin: 0 auto;
}

/* Calculator Section */
table {
  width: 600px;
  border-width: 0px 45px 20px 45px;
}

thead {
  height: 10px;
  font-size: 15px;
  font-weight: normal;
  color: #d09c50;
}

tbody {
  font-weight: normal;
  text-align: left;
}

.col1 , .col2 , .col3 {
  height: 55px;
}

.col1 {
  line-height: 40px;
  width: 230px;
  margin-left: 5px;
}

.col2 {
  line-height: 55px;
  width: 100px;
  margin-left:10px;
}

.col3 {
  line-height: 55px;
  width: 100px;
  margin-right:5px;
}

#popup {
  visibility: hidden;
  font-size: 15px;
  height: 22px;
  background-color: #555;
  position: absolute;
  opacity: 0.5;
  padding-top: 6px;
}

/* Can't hover on triangle to highlight everything. Because usage of "+" requires
 * #b to be directly after #a and not vice-versa in the case of: #a + #b */
#popup:hover, #popup:hover + #popup-triangle {
  opacity: 1.0;
}

#popup-triangle {
  /* The triangle shape */
  width: 0;
	height: 0;
	border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #555;
  /* The position of the triangle */
  position: absolute;
  /* The look of the triangle */
  visibility: hidden;
  opacity: 0.5;
}

table, .buttons-container {
  margin: 0 auto;
  border-style: solid;
  border-collapse: collapse;

}

.screen-container {
  height: 150px;
  width: 600px;
  border-radius: 30px 30px 0px 0px;
}

#title {
  text-align: left;
  font-size: 20px;
  color: #d09c50;
  padding: 15px 0px 10px 50px;
}

#screen {
  height: 80px;
  width: calc(100% - 100px);
  margin-left: 50px;
  font-size: 70px;
  padding-top: 10px;
  font-family: "Technology";
  font-weight: normal;
}

table, .buttons-container {
  border-color: #f5ecef;
}

td input, #screen {
  background-color: #8a7981;
  border-radius: 25px;
}

.screen-container, .buttons-container {
  background-color: #f5ecef;
}

thead tr, tbody tr {
  background-color: #f5ecef;
}

tbody tr td input:focus {
  outline-color: #d09c50;
}

td input {
  color: white;
  padding-left: 10px;
  font-size: 18px;
}

.buttons-container {
  height: 300px;
  width: 510px;
  border-width: 0px 45px 50px 45px;
  border-radius: 0px 0px 30px 30px;
}

.button {
  height: 70px;
  width: 100px;
  margin-top: 5px;
  background-color: #8a7981;
  border-radius: 25px;
}

.button:active {
  border-style:none;
}

.button:hover, tbody tr td input:hover {
  cursor: pointer;
}

.col1, .col2, .col3, .button {
  border-style: solid;
  border-left: none;
  border-top: none;
  border-color: #444444;
  border-width: 2px;
}

::placeholder {
  color: white;
}

#title, #screen, table, button, #popup, #popup-triangle {
  caret-color: transparent;
}

.numbers-container, .functions-container {
  float: left;
  width: 50%;
}

.functions-left, .functions-right {
  float: left;
}

.functions-left {
  width: 48%;
}

.functions-right {
  width: 52%;
}

.number {
  width: 76px;
  font-size: 18px;
}

.text {
  height: 82px;
  width: 115px;
  margin-left: 10px;
  font-size: 24px;
  margin-bottom: 20px;
}

#plus, #submit {
  font-size: 40px;
}

#minus {
  font-size: 50px;
}

#zero {
  width: 160px;
}

#dot {
  font-weight:bolder;
  padding-bottom: 4px;
}

#submit {
  height: 190px;
}

.functionText {
  color: #d09c50;
  font-size: 15px;
  font-weight: normal;
  margin-top: -14px;
  margin-bottom: -4px;
  padding-left: 6px;
}
