body {
  text-align: center;
  font-weight: bold;
  padding: 50px;
  font-size: 30px;
  width: 600px;
  margin: 0 auto;
}

/* Calculator Section */
table {
  width: 600px;
  border-top: none !important;
}

thead {
  height: 10px;
  font-size: 15px;
}

tbody {
  font-weight: normal;
  text-align: left;
}

tfoot {
  text-align: center;
}

.col1 , .col2 , .col3 {
  height: 55px;
}

.col1 {
  line-height: 40px;
  width: 94%;
}

.col2 {
  line-height: 55px;
  width: 88.5%;
}

.col3 {
  line-height: 55px;
  width: 89%;
}

#popup {
  visibility: hidden;
  font-size: 15px;
  width: 250px;
  height: 33px;
  background-color: #555;
  position: absolute;
  margin-left: 770px;
  margin-top: 75px;
  opacity: 0.5;
  padding: 10px;
}

/* Can't hover on triangle to highlight everything. Because usage of "+" requires
 * #b to be directly after #a and not vice-versa in the case of: #a + #b */
#popup:hover, #popup:hover + #popup-triangle {
  opacity: 1.0;
}

#popup-triangle {
  /* The triangle shape */
  width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #555;
	border-bottom: 5px solid transparent;
  /* The position of the triangle */
  position: absolute;
  margin-left: 760px;
  margin-top: 97px;
  /* The look of the triangle */
  visibility: hidden;
  opacity: 0.5;
}

table, .buttons-container {
  margin: 0 auto;
  border-style: solid;
  border-collapse: collapse;
  border-width: 50px 45px;
}

.screen-container {
  height: 135px;
  width: 600px;
  border-radius: 30px 30px 0px 0px;
}

#title {
  text-align: left;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 15px;
}

#screen {
  height: 86px;
  width: calc(100% - 100px);
  margin-left: 50px;
  font-size: 70px;
  padding-top: 4px;
}

table, .buttons-container {
  border-color: #f5ecef;
}

td input, #screen {
  background-color: #8a7981;
}

.screen-container, .buttons-container {
  background-color: #f5ecef;
}

td input, #screen {
  border-radius: 25px;
}

thead tr, tbody tr {
  background-color: #f5ecef;
}

tbody tr td input:focus {
  outline: none;
  border-style: none;
}

td input {
  color: white;
  padding-left: 10px;
}

.buttons-container {
  height: 80px;
  width: 510px;
  border-top: none;
  border-radius: 0px 0px 30px 30px;
}

.button {
  height: 70px;
  width: 100px;
  margin-top: 5px;
  background-color: #8a7981;
  border-radius: 25px;
}

.button:active {
  border-style:none;
}

.button:hover, tbody tr td input:hover {
  cursor: pointer;
}

.col1, .col2, .col3, .button {
  border-style: solid;
  border-left: none;
  border-top: none;
  border-color: #444444;
  border-width: 2px;
}
